<ion-header>
    <ion-navbar>
        <ion-title>
            <i class="fa fa-cloud" aria-hidden="true" ></i>
            IoT Devices
        </ion-title>
    </ion-navbar>
</ion-header>

<ion-content>
    <ion-grid>
       <ion-row *ngFor="let devgrp of this.iotDevices" >
            <ion-col>
                <device-card [device]="devgrp[0]" (click)="selectDevice(devgrp[0])"></device-card>
            </ion-col>
            <ion-col *ngIf="devgrp.length > 1">
                <device-card [device]="devgrp[1]" (click)="selectDevice(devgrp[1])"></device-card>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>
